---
# This Playbook runs all the common plays in the deployment

- name: GIT-PULL Auth
  git:  repo=https://github.com/IIC2173-2016-2/g3-user-auth dest=/home/administrator/login-app
  become_user: administrator

- name: NPM install dependencies
  command: /usr/bin/npm install

- name: Restart Services PM2
  command: /usr/bin/pm2 restart auth
